Repository Rigtch/rigtch-fm-www: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint "**/*.{sass,scss,pcss,postcss,css}" --allow-empty-input --ignore-path .gitignore

feat(api): create fetchers and types for reports page
  app/api/fetchers/reports/get-reports-listening-days.ts
  app/api/fetchers/reports/get-reports-listening-hours.ts
  app/api/fetchers/reports/get-reports-total-albums.ts
  app/api/fetchers/reports/get-reports-total-artists.ts
  app/api/fetchers/reports/get-reports-total-tracks.ts
  app/api/fetchers/reports/index.ts
  app/api/types/index.ts
  app/api/types/params.ts
  app/api/types/total-items.ts
Due: eslint --cache --fix

feat(globals.css): apply chart colors
  app/styles/globals.css
Due: stylelint "**/*.{sass,scss,pcss,postcss,css}" --allow-empty-input --ignore-path .gitignore

feat(profile/reports/components): add `ListeningDaysChart`
  app/profile/[id]/reports/components/index.ts
  app/profile/[id]/reports/components/listening-days-chart.tsx
Due: eslint --cache --fix

feat(profile/reports): create page and add it to sidebar
  app/components/sidebar/sidebar.tsx
  app/profile/[id]/reports/page.tsx
  app/sections/default-section.tsx
Due: eslint --cache --fix

feat(profile/reports/sections): create `ListeningDaysSection`
  app/profile/[id]/reports/sections/index.ts
  app/profile/[id]/reports/sections/listening-days-section.tsx
Due: eslint --cache --fix

refactor(profile/reports): use parallel routes instead of server side sections
  app/profile/[id]/reports/@listeningDays/page.tsx
  app/profile/[id]/reports/layout.tsx
  app/profile/[id]/reports/page.tsx
  app/profile/[id]/reports/sections/index.ts
Due: eslint --cache --fix

fix(profile/reports/@listeningdays): getting valid date in cursor params
  app/profile/[id]/reports/@listeningDays/page.tsx
Due: eslint --cache --fix

feat(profile/reports/components/listening-days-chart): create tooltip and tick formatters
  app/profile/[id]/reports/components/listening-days-chart.tsx
Due: eslint --cache --fix

chore(husky): remove unnecessary lines in `commit-msg` hook
  .husky/commit-msg
Due: none

test: update snapshots
  tests/snapshots/items-section.spec.tsx.snap
  tests/snapshots/sidebar.spec.tsx.snap
  tests/snapshots/top-genres-section.spec.tsx.snap
Due: none

chore(env): change `NEXTAUTH_SECRET` -> `AUTH_SECRET`
  .github/workflows/main.yml
  app/config/env.js
  docs/environment-variables.md
Due: eslint --cache --fix

build(deps): add `recharts`
  bun.lockb
  package.json
Due: none

feat(components/ui): add charts
  .eslintrc.cjs
  app/components/ui/chart.tsx
Due: eslint --cache --fix

refactor(components/ui/card): change bgcolor to `background`
  app/components/ui/card.tsx
Due: eslint --cache --fix

refactor(profile/reports/components/listening-days-chart): move formatter to `/helpers`
  app/profile/[id]/reports/components/helpers/chart-tooltip-content-formatter.tsx
  app/profile/[id]/reports/components/helpers/index.ts
  app/profile/[id]/reports/components/listening-days-chart.tsx
  app/profile/[id]/reports/helpers/value-measurement-formatter.ts
Due: eslint --cache --fix

feat(profile/reports/listeningdays/page): add other statistics to section
  app/profile/[id]/reports/@listeningDays/page.tsx
Due: eslint --cache --fix

feat(profile/reports/listeningdays/page): add average per day stat
  app/profile/[id]/reports/@listeningDays/page.tsx
  app/profile/[id]/reports/helpers/index.ts
  app/profile/[id]/reports/helpers/week-days.ts
Due: eslint --cache --fix

refactor(profile/reports/components/listening-days-chart): improve code
  app/profile/[id]/reports/components/listening-days-chart.tsx
Due: eslint --cache --fix

feat(profile/reports): add most listened hours chart and stats
  app/profile/[id]/reports/@listeningDays/page.tsx
  app/profile/[id]/reports/@listeningHours/page.tsx
  app/profile/[id]/reports/components/charts/index.ts
  app/profile/[id]/reports/components/charts/listening-days-chart.tsx
  app/profile/[id]/reports/components/charts/listening-hours-chart.tsx
  app/profile/[id]/reports/components/index.ts
  app/profile/[id]/reports/layout.tsx
Due: eslint --cache --fix

fix(page/reports): improve on small devices
  app/profile/[id]/reports/@listeningDays/page.tsx
  app/profile/[id]/reports/@listeningHours/page.tsx
  app/profile/[id]/reports/components/charts/listening-days-chart.tsx
  app/profile/[id]/reports/sections/index.ts
  app/profile/[id]/reports/sections/report-section.tsx
Due: eslint --cache --fix

test: update snapshots
  .github/workflows/main.yml
  tests/snapshots/profile-card.spec.tsx.snap
Due: none

test(profile/reports/helpers/value-measurement-formatter): create unit tests
  app/profile/[id]/reports/components/helpers/chart-tooltip-content-formatter.tsx
  app/profile/[id]/reports/helpers/value-measurement-formatter.spec.ts
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: *.{js,ts,jsx,tsx}
  stylelint "**/*.{sass,scss,pcss,postcss,css}" --allow-empty-input --ignore-path .gitignore: any of: *.{css,scss,less}
