Repository Rigtch/rigtch-fm-www: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint "**/*.{sass,scss,pcss,postcss,css}" --allow-empty-input --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": "eslint --cache --fix",
  "*.{css,scss,less}": "stylelint \"**/*.{sass,scss,pcss,postcss,css}\" --allow-empty-input --ignore-path .gitignore"
}

fix(profile/components/items/cards/top-card-skeleton): progress skeleton width
  app/components/items/cards/item-top-card.skeleton.tsx
Due: eslint --cache --fix

fix(profile/@top/@tracks/loading): remove genres from skeleton
  app/profile/[id]/@top/@tracks/loading.tsx
  tests/snapshots/navigation-bar.spec.tsx.snap
Due: eslint --cache --fix

fix(components/navigation/bar): hamburger menu positioning
  app/components/navigation/navigation-bar.tsx
Due: eslint --cache --fix

fix(profile): padding on mobile devices
  app/components/items/list/items-list-element.skeleton.tsx
  app/components/items/list/items-list-element.tsx
  app/profile/[id]/@profile/page.tsx
  app/profile/[id]/@top/layout.tsx
  app/profile/[id]/layout.tsx
  app/profile/[id]/top/layout.tsx
  app/profile/components/common/stats-options.tsx
  app/profile/sections/top-genres-section.tsx
  app/sections/default-section.tsx
Due: eslint --cache --fix

test(snapshots): update snapshots
  tests/snapshots/items-list-element.spec.tsx.snap
  tests/snapshots/items-list.spec.tsx.snap
  tests/snapshots/items-section.spec.tsx.snap
  tests/snapshots/stats-options.spec.tsx.snap
  tests/snapshots/top-genres-section.spec.tsx.snap
Due: none

chore(.vscode/settings): add `.eslintcache` to file nesting patterns
  .vscode/settings.json
Due: none

feat(page): create better landing page
  app/page.tsx
  public/statistics-example.png
  public/statistics-measurement-playtime-example.png
  public/statistics-spotify-example.png
Due: eslint --cache --fix

feat: fix metadata
  .eslintrc.cjs
  app/layout.tsx
  app/profile/[id]/layout.tsx
  middleware.ts
Due: eslint --cache --fix

feat(page): create better landing page
  app/page.tsx
  middleware.spec.ts
  public/statistics-example.png
  public/statistics-measurement-playtime-example.png
  public/statistics-spotify-example.png
Due: eslint --cache --fix

fix(profile/layout): redirecting with `link` component
  app/profile/[id]/@profile/default.tsx
  app/profile/[id]/@profile/page.tsx
  app/profile/[id]/layout.tsx
  middleware.spec.ts
  middleware.ts
Due: eslint --cache --fix

fix((items)/artist/page): fix top tracks position and albums layout
  app/(items)/artist/[id]/page.tsx
Due: eslint --cache --fix

fix(components/items/cards/item-card): fix name width
  app/components/items/cards/item-card.tsx
  tests/snapshots/item-card.spec.tsx.snap
Due: eslint --cache --fix

chore(vercel): add analytics
  app/layout.tsx
  app/providers.tsx
Due: eslint --cache --fix

build(dev-deps): update storybook monorepo
  bun.lockb
  package.json
Due: none

docs(readme): change description and add example app screenshot
  README.md
Due: none

feat(profile/options/time-range): move to constants and set rigtch default value to `month`
  app/profile/constants/beta-user-created-at.ts
  app/profile/constants/default-time-range.ts
  app/profile/constants/index.ts
  app/profile/utils/validators/validate-time-range.spec.ts
  app/profile/utils/validators/validate-time-range.ts
Due: eslint --cache --fix

fix(components/sidebar): passing `searchParams` through Top Genres item link
  app/components/sidebar/sidebar.tsx
Due: eslint --cache --fix

fix(profile/components/common/selects/time-range): disabled spotify time range
  app/profile/components/common/selects/select-time-range.tsx
Due: eslint --cache --fix

fix(components/items/card/top-item/stars): add key
  app/components/items/cards/top-item-card-stars.tsx
Due: eslint --cache --fix

test: update snapshots
  tests/snapshots/item-top-card.spec.tsx.snap
  tests/snapshots/items-list.spec.tsx.snap
  tests/snapshots/items-section.spec.tsx.snap
Due: none

style: fix eslint errors
  app/components/items/list/items-list.tsx
  app/components/ui/use-toast.ts
  app/utils/formatters/format-search-params.ts
Due: eslint --cache --fix

fix(profile/pages): getting time range
  app/profile/[id]/@top/@albums/page.tsx
  app/profile/[id]/@top/@artists/page.tsx
  app/profile/[id]/@top/@genres/page.tsx
  app/profile/[id]/@top/@tracks/page.tsx
  app/profile/[id]/top/albums/page.tsx
  app/profile/[id]/top/artists/page.tsx
  app/profile/[id]/top/genres/page.tsx
  app/profile/[id]/top/tracks/page.tsx
  app/profile/components/common/stats-options.tsx
  app/profile/utils/validators/validate-time-range.ts
Due: eslint --cache --fix

feat(items-list): add new card view
  app/components/items/cards/item-card.tsx
  app/components/items/list/items-list.skeleton.tsx
  app/components/items/list/items-list.stories.tsx
  app/components/items/list/items-list.tsx
  app/components/items/misc/item-artists.tsx
  app/profile/components/common/selects/select-view.tsx
  app/profile/enums/view.ts
  app/profile/sections/items-section.tsx
  tests/snapshots/item-artists.spec.tsx.snap
  tests/snapshots/item-card.spec.tsx.snap
  tests/snapshots/item-header-section.spec.tsx.snap
  tests/snapshots/item-top-card.spec.tsx.snap
  tests/snapshots/items-list-element.spec.tsx.snap
  tests/snapshots/items-list.spec.tsx.snap
  tests/snapshots/items-section.spec.tsx.snap
  tests/snapshots/relative-time.spec.tsx.snap
Due: eslint --cache --fix

build(deps): add `recharts`
  bun.lockb
  package.json
Due: none

feat(components/ui): add charts
  .eslintrc.cjs
  app/components/ui/chart.tsx
Due: eslint --cache --fix

feat(api): create fetchers and types for reports page
  app/api/fetchers/reports/get-reports-listening-days.ts
  app/api/fetchers/reports/get-reports-listening-hours.ts
  app/api/fetchers/reports/get-reports-total-albums.ts
  app/api/fetchers/reports/get-reports-total-artists.ts
  app/api/fetchers/reports/get-reports-total-tracks.ts
  app/api/fetchers/reports/index.ts
  app/api/types/index.ts
  app/api/types/params.ts
  app/api/types/total-items.ts
Due: eslint --cache --fix

feat(globals.css): apply chart colors
  app/styles/globals.css
Due: stylelint "**/*.{sass,scss,pcss,postcss,css}" --allow-empty-input --ignore-path .gitignore

feat(profile/reports/components): add `ListeningDaysChart`
  app/profile/[id]/reports/components/index.ts
  app/profile/[id]/reports/components/listening-days-chart.tsx
Due: eslint --cache --fix

feat(profile/reports/sections): create `ListeningDaysSection`
  app/profile/[id]/reports/sections/index.ts
  app/profile/[id]/reports/sections/listening-days-section.tsx
Due: eslint --cache --fix

feat(profile/reports): create page and add it to sidebar
  app/components/sidebar/sidebar.tsx
  app/profile/[id]/reports/page.tsx
  app/sections/default-section.tsx
Due: eslint --cache --fix
