Repository Rigtch/rigtch-fm-www: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint "**/*.{sass,scss,pcss,postcss,css}" --allow-empty-input --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,ts,md,jsx,tsx,mdx}": "eslint --cache --fix",
  "*.{css,scss,less}": "stylelint \"**/*.{sass,scss,pcss,postcss,css}\" --allow-empty-input --ignore-path .gitignore"
}

fix(components/profile/card): positioning on mobile
  src/components/playback-card.tsx
  src/components/profile/card.tsx
Due: eslint --cache --fix

chore: configure `stylelint`
  .lintstagedrc
  .stylelintrc
  next.config.js
  package.json
  src/components/utils/audio-bars.tsx
  src/styles/audio-bars.css
  src/styles/theme.css
  yarn.lock
Due: eslint --cache --fix, stylelint "**/*.{sass,scss,pcss,postcss,css}" --allow-empty-input --ignore-path .gitignore

refactor(style): remove unused fonts
  src/styles/fonts/poppins-v15-latin-300.woff
  src/styles/fonts/poppins-v15-latin-300.woff2
  src/styles/fonts/poppins-v15-latin-500.woff
  src/styles/fonts/poppins-v15-latin-500.woff2
  src/styles/fonts/poppins-v15-latin-700.woff
  src/styles/fonts/poppins-v15-latin-700.woff2
  src/styles/fonts/poppins-v15-latin-regular.woff
  src/styles/fonts/poppins-v15-latin-regular.woff2
Due: none

chore(.github): create main CI workflow
  .github/workflows/main.yml
Due: none

chore(.vscode): create default settings
  .vscode/settings.json
Due: none

fix(components/navigation-bar): make navigation bar sticky
  src/components/navigation-bar.tsx
  src/layouts/default.tsx
Due: eslint --cache --fix

chore(prettierrc): add `prettier-plugin-tailwindcss`
  .prettierignore
  .prettierrc
  package.json
  src/components/footer.tsx
  src/components/navigation-bar.tsx
  src/components/playback-card.tsx
  src/components/profile/card.tsx
  src/components/profile/info.tsx
  src/layouts/default.tsx
  yarn.lock
Due: eslint --cache --fix

feat(layouts/default): set page content width to `1300px`
  src/layouts/default.tsx
Due: eslint --cache --fix

refactor(components/profile/info): hide username on mobile and display it inside menu
  src/components/profile/info.tsx
Due: eslint --cache --fix

chore(.vscode/settings): fix config
  .vscode/settings.json
Due: none

test(components/connect-button): test opening url
  src/components/connect-button.spec.tsx
  vitest.config.ts
Due: eslint --cache --fix

test(context/auth): setting profile, disconnecting
  src/context/auth.spec.tsx
  src/graphql/types/image.ts
Due: eslint --cache --fix

fix(context/playback-state): fetch new state only if user is authorized
  src/context/playback-state.tsx
Due: eslint --cache --fix

fix(pages/api/authorize): handler should not return a value
  src/pages/api/authorize.ts
Due: eslint --cache --fix

refactor(hooks/playback-state): move `getAlbumImage` and `getArtists` to util functions
  src/hooks/playback-state.tsx
  src/utils/get-album-image.ts
  src/utils/get-artists.ts
Due: eslint --cache --fix

chore(deps): add `luxon`
  package.json
  yarn.lock
Due: none

feat: implement last tracks section
  src/components/last-tracks-section.tsx
  src/components/track-card.tsx
  src/layouts/default.tsx
  src/pages/index.tsx
Due: eslint --cache --fix

feat: add favicon and metadata
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/discord-icon.svg
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/gradient.jpg
  public/mstile-150x150.png
  public/next.svg
  public/rigtch-icon.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
  public/vercel.svg
  src/pages/_app.tsx
Due: eslint --cache --fix

style(graphql): fix imports
  src/components/playback-card.tsx
  src/components/profile/card.tsx
  src/components/profile/info.tsx
  src/context/auth.spec.tsx
  src/context/auth.tsx
  src/context/playback-state.tsx
  src/graphql/index.ts
  src/middleware.ts
  src/pages/index.tsx
Due: eslint --cache --fix

refactor(common/auth): implement `applyAuthorizationHeader` function
  package.json
  src/common/auth/apply-authorization-header.ts
  src/common/auth/authorization-type.ts
  src/common/auth/index.ts
  src/components/last-tracks-section.tsx
  src/components/playback-card.tsx
  src/components/track-card.tsx
  src/context/playback-state.tsx
  src/middleware.ts
  src/pages/index.tsx
  src/utils/get-album-image.ts
  src/utils/get-artists.ts
Due: eslint --cache --fix

chore(global.d): declare `.jpg` and `.png` modules
  global.d.ts
Due: eslint --cache --fix

feat(graphql): implement top genres query and types
  src/graphql/queries/index.ts
  src/graphql/queries/top-genres.ts
  src/graphql/types/genres.ts
  src/graphql/types/index.ts
Due: eslint --cache --fix

feat(components): create `TopGenresSection`
  src/components/top-genres-section.tsx
Due: eslint --cache --fix

feat(pages/index): fetch and implement top genres
  src/pages/index.tsx
Due: eslint --cache --fix

chore(.github/workflows/main): separate linting js and css
  .github/workflows/main.yml
  src/components/top-genres-section.tsx
  src/components/track-card.tsx
Due: eslint --cache --fix

feat(pages): add topArtists query
  src/components/top-artists/card.tsx
  src/context/auth.tsx
  src/graphql/queries/index.ts
  src/graphql/queries/top-artists.ts
  src/graphql/types/artist.ts
  src/pages/index.tsx
Due: eslint --cache --fix

fix(pages/index): fetching top artists
  src/components/top-artists/card.tsx
  src/pages/index.tsx
Due: eslint --cache --fix
