Repository Rigtch/rigtch-fm-www: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint "**/*.{sass,scss,pcss,postcss,css}" --allow-empty-input --ignore-path .gitignore

chore(dev-deps): add `@storybook/theming`
  bun.lockb
  package.json
Due: none

chore(storybook/preview): add autodocs and set docs theme to dark
  .storybook/preview.ts
Due: eslint --cache --fix

docs(components/common): create component stories
  app/components/common/audio-bars.stories.tsx
Due: eslint --cache --fix

style(audio-bars): move to `/profile/components/playback`
  app/components/common/index.ts
  app/profile/components/playback/audio-bars.stories.tsx
  app/profile/components/playback/audio-bars.tsx
  app/profile/components/playback/card.skeleton.tsx
  app/profile/components/playback/card.tsx
  app/profile/components/playback/index.ts
Due: eslint --cache --fix

style(components): move `ConnectButton` to outer scope
  app/components/connect-button.tsx
  app/components/connect/index.ts
  app/components/navigation/bar.tsx
  app/page.tsx
Due: eslint --cache --fix

chore(dev-deps): update storybook
  bun.lockb
  package.json
Due: none

test: update snapshots
  tests/snapshots/spotify-link.spec.tsx.snap
  tests/snapshots/toggle-time-range.spec.tsx.snap
Due: none

chore(storybook/main): use `experimentalRSC`
  .storybook/main.ts
Due: eslint --cache --fix

docs(components/connect-button): create stories
  app/components/common/buttons/back.stories.tsx
  app/components/connect-button.stories.tsx
Due: eslint --cache --fix

test(components/connect-button): create snapshot test
  app/components/connect-button.spec.tsx
  tests/snapshots/connect-button.spec.tsx.snap
Due: eslint --cache --fix

style(components): move `ConnectButton` to `/auth`
  app/components/auth/connect-button.spec.tsx
  app/components/auth/connect-button.stories.tsx
  app/components/auth/connect-button.tsx
  app/components/auth/index.ts
  app/components/navigation/bar.tsx
  app/page.tsx
Due: eslint --cache --fix

refactor(styles/globals): change foreground color to `white`
  app/styles/globals.css
Due: stylelint "**/*.{sass,scss,pcss,postcss,css}" --allow-empty-input --ignore-path .gitignore

style(components/auth/stories): change title path
  app/components/auth/connect-button.stories.tsx
Due: eslint --cache --fix

docs(components/common): create story for `SpotifyLink`
  app/components/common/spotify-link.stories.tsx
Due: eslint --cache --fix

test(components/common/relative-time): snapshot test
  app/components/common/relative-time.spec.tsx
  tests/snapshots/relative-time.spec.tsx.snap
Due: eslint --cache --fix

test(components/common): `OpenInSpotifyButton` snapshot test
  app/components/common/open-in-spotify-button.spec.tsx
  tests/snapshots/open-in-spotify-button.spec.tsx.snap
Due: eslint --cache --fix

refactor(components/common): move `SeeMoreButton` to `/buttons` and add interaction tests
  app/components/common/buttons/index.ts
  app/components/common/buttons/see-more.spec.tsx
  app/components/common/buttons/see-more.tsx
  app/components/common/index.ts
  app/components/common/select-view.spec.tsx
  app/components/common/toggle-time-range.spec.tsx
  app/profile/[user-id]/@history/page.tsx
  app/profile/[user-id]/@top/@artists/page.tsx
  app/profile/[user-id]/@top/@genres/page.tsx
  app/profile/[user-id]/@top/@tracks/page.tsx
  tests/snapshots/see-more.spec.tsx.snap
Due: eslint --cache --fix

docs(components/common/buttons): create story for `BackButton`
  app/components/common/buttons/back.stories.tsx
Due: eslint --cache --fix

docs(components/common): document and test `SelectView`
  .eslintrc.cjs
  app/components/common/select-view.stories.tsx
  app/components/common/select-view.tsx
Due: eslint --cache --fix

test(components/common): remove unnecessary `act` wrapping
  app/components/common/select-view.spec.tsx
  app/components/common/toggle-time-range.spec.tsx
Due: eslint --cache --fix

style(components/common): rename `GoBackButton` -> `BackButton` and move to `/buttons`
  app/components/common/buttons/back-button.tsx
  app/components/common/buttons/index.ts
  app/components/common/index.ts
  app/not-found.tsx
  app/profile/not-found.tsx
Due: eslint --cache --fix

style(eslint): change type specifier style to `prefer-top-level`
  .eslintrc.cjs
  app/components/common/genre-chip.stories.tsx
  app/components/common/relative-time.stories.tsx
  app/components/common/select-view.stories.tsx
  app/components/common/spotify-link.stories.tsx
  app/components/common/toggle-time-range.stories.tsx
Due: eslint --cache --fix

test(components/common/buttons/back): test calling `router.back`
  app/components/common/buttons/back.spec.tsx
  app/components/common/buttons/back.tsx
  app/components/common/buttons/index.ts
  tests/snapshots/back.spec.tsx.snap
Due: eslint --cache --fix

style(stories): change meta definition style
  app/components/common/buttons/back.stories.tsx
  app/components/common/genre-chip.stories.tsx
  app/components/common/relative-time.stories.tsx
  app/components/common/select-view.stories.tsx
  app/components/common/spotify-link.stories.tsx
  app/components/common/toggle-time-range.stories.tsx
Due: eslint --cache --fix

test(components/common/select-view): move interaction tests to `.spec` file
  app/components/common/select-view.spec.tsx
  app/components/common/select-view.stories.tsx
  tests/snapshots/select-view.spec.tsx.snap
  vitest.config.ts
Due: eslint --cache --fix

style(components/common/stories): move to `/Components`
  app/components/common/genre-chip.stories.tsx
  app/components/common/relative-time.stories.tsx
  bun.lockb
Due: eslint --cache --fix

refactor(styles): move css files to separate directory
  app/layout.tsx
  app/profile/[user-id]/layout.tsx
  app/styles/audio-bars.css
  app/styles/globals.css
Due: eslint --cache --fix, stylelint "**/*.{sass,scss,pcss,postcss,css}" --allow-empty-input --ignore-path .gitignore

test(components/common): `GenreChip` snapshot test
  app/components/common/genre-chip.spec.tsx
  tests/snapshots/genre-chip.spec.tsx.snap
Due: eslint --cache --fix

chore(dev-deps): update `testing-library`
  bun.lockb
  package.json
Due: none

style(components/common): rename `OpenInSpotifyButton` -> `SpotifyLink`
  app/(items)/album/[album-id]/page.tsx
  app/(items)/artist/[artist-id]/page.tsx
  app/(items)/track/[track-id]/page.tsx
  app/components/common/index.ts
  app/components/common/select-view.stories.tsx
  app/components/common/spotify-link.spec.tsx
  app/components/common/spotify-link.tsx
  app/components/common/toggle-time-range.stories.tsx
  app/components/common/toggle-time-range.tsx
  app/profile/components/items/item.tsx
  app/profile/components/playback/card.tsx
  app/profile/components/profile/card.skeleton.tsx
  app/profile/components/profile/card.tsx
  package.json
Due: eslint --cache --fix

refactor(components/common/audio-bars): use tailwindcss instead of pure css
  app/components/common/audio-bars.tsx
  app/profile/[user-id]/layout.tsx
  app/styles/audio-bars.css
  tailwind.config.ts
Due: eslint --cache --fix, stylelint "**/*.{sass,scss,pcss,postcss,css}" --allow-empty-input --ignore-path .gitignore

docs(components/common): document `RelativeTime`
  app/components/common/relative-time.stories.tsx
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: *.{js,ts,md,jsx,tsx,mdx}
  stylelint "**/*.{sass,scss,pcss,postcss,css}" --allow-empty-input --ignore-path .gitignore: any of: *.{css,scss,less}
