Repository Rigtch/rigtch-fm-www: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint "**/*.{sass,scss,pcss,postcss,css}" --allow-empty-input --ignore-path .gitignore

feat(profile/reports/components/listening-days-chart): create tooltip and tick formatters
  app/profile/[id]/reports/components/listening-days-chart.tsx
Due: eslint --cache --fix

fix(profile/reports/listeninDays/page): fix alert description `other` -> `another`
  app/profile/[id]/reports/@listeningDays/page.tsx
Due: eslint --cache --fix

refactor(profile/reports/helpers): rename `getCursors` -> `validateCursors`
  app/profile/[id]/reports/@listeningDays/page.tsx
  app/profile/[id]/reports/@listeningHours/page.tsx
  app/profile/[id]/reports/@mostListenedGenres/page.tsx
  app/profile/[id]/reports/@mostListenedItems/page.tsx
  app/profile/[id]/reports/components/reports-pagination.tsx
  app/profile/[id]/reports/helpers/index.ts
  app/profile/[id]/reports/helpers/validate-cursors.spec.ts
  app/profile/[id]/reports/helpers/validate-cursors.ts
  app/profile/[id]/reports/layout.tsx
Due: eslint --cache --fix

test: update snapshots
  tests/snapshots/items-section.spec.tsx.snap
  tests/snapshots/sidebar.spec.tsx.snap
  tests/snapshots/top-genres-section.spec.tsx.snap
Due: none

refactor(profile/reports/components/cards/stat): make `value` prop nullable
  app/profile/[id]/reports/components/cards/stat-card.tsx
Due: eslint --cache --fix

refactor(profile/reports): use parallel routes instead of server side sections
  app/profile/[id]/reports/@listeningDays/page.tsx
  app/profile/[id]/reports/layout.tsx
  app/profile/[id]/reports/page.tsx
  app/profile/[id]/reports/sections/index.ts
Due: eslint --cache --fix

fix(profile/reports/components/charts/listening-days): fix chart width on 2x large screens
  app/profile/[id]/reports/components/charts/listening-days-chart.tsx
Due: eslint --cache --fix

feat(profile/reports/components): add `ListeningDaysChart`
  app/profile/[id]/reports/components/index.ts
  app/profile/[id]/reports/components/listening-days-chart.tsx
Due: eslint --cache --fix

feat(profile/reports/helpers/get-cursors): create function
  app/profile/[id]/reports/helpers/get-cursors.ts
  app/profile/[id]/reports/helpers/index.ts
Due: eslint --cache --fix

feat(globals.css): apply chart colors
  app/styles/globals.css
Due: stylelint "**/*.{sass,scss,pcss,postcss,css}" --allow-empty-input --ignore-path .gitignore

fix(page/reports): improve on small devices
  app/profile/[id]/reports/@listeningDays/page.tsx
  app/profile/[id]/reports/@listeningHours/page.tsx
  app/profile/[id]/reports/components/charts/listening-days-chart.tsx
  app/profile/[id]/reports/sections/index.ts
  app/profile/[id]/reports/sections/report-section.tsx
Due: eslint --cache --fix

refactor(profile/reports/components/chart/most-listened-genre): get only 5 top genres
  app/profile/[id]/reports/components/charts/most-listened-genres-chart.tsx
Due: eslint --cache --fix

refactor(profile/reports/components/listening-days-chart): move formatter to `/helpers`
  app/profile/[id]/reports/components/helpers/chart-tooltip-content-formatter.tsx
  app/profile/[id]/reports/components/helpers/index.ts
  app/profile/[id]/reports/components/listening-days-chart.tsx
  app/profile/[id]/reports/helpers/value-measurement-formatter.ts
Due: eslint --cache --fix

fix(profile/reports/components/stat-card): last week percent if zero
  app/profile/[id]/reports/components/cards/stat-card.tsx
Due: eslint --cache --fix

feat(profile/reports): create page and add it to sidebar
  app/components/sidebar/sidebar.tsx
  app/profile/[id]/reports/page.tsx
  app/sections/default-section.tsx
Due: eslint --cache --fix

style(components/common/progress-with-value-label): reorder tailwind classes
  app/components/common/progress-with-value-label.tsx
Due: eslint --cache --fix

test: update snapshots
  tests/snapshots/back-button.spec.tsx.snap
  tests/snapshots/connect-button.spec.tsx.snap
  tests/snapshots/cookies-dialog.spec.tsx.snap
  tests/snapshots/item-artists.spec.tsx.snap
  tests/snapshots/item-card.spec.tsx.snap
  tests/snapshots/item-header-section.spec.tsx.snap
  tests/snapshots/item-name.spec.tsx.snap
  tests/snapshots/item-top-card.spec.tsx.snap
  tests/snapshots/items-list-element.spec.tsx.snap
  tests/snapshots/items-list.spec.tsx.snap
  tests/snapshots/items-section.spec.tsx.snap
  tests/snapshots/link-button.spec.tsx.snap
  tests/snapshots/navigation-bar.spec.tsx.snap
  tests/snapshots/playback-card.spec.tsx.snap
  tests/snapshots/profile-card.spec.tsx.snap
  tests/snapshots/see-more-button.spec.tsx.snap
  tests/snapshots/share-button.spec.tsx.snap
  tests/snapshots/sidebar-section-item.spec.tsx.snap
  tests/snapshots/sidebar.spec.tsx.snap
  tests/snapshots/toggle-state-button.spec.tsx.snap
Due: none

refactor(profile/reports/components/listening-days-chart): improve code
  app/profile/[id]/reports/components/listening-days-chart.tsx
Due: eslint --cache --fix

test: update snapshots
  .github/workflows/main.yml
  tests/snapshots/profile-card.spec.tsx.snap
Due: none

fix(profile/reports/listeninghours): get right hour data
  app/profile/[id]/reports/@listeningHours/page.tsx
  app/profile/[id]/reports/components/charts/listening-hours-chart.tsx
Due: eslint --cache --fix

build(deps): add `recharts`
  bun.lockb
  package.json
Due: none

chore(env): change `NEXTAUTH_SECRET` -> `AUTH_SECRET`
  .github/workflows/main.yml
  app/config/env.js
  docs/environment-variables.md
Due: eslint --cache --fix

test(profile/reports/helpers/value-measurement-formatter): create unit tests
  app/profile/[id]/reports/components/helpers/chart-tooltip-content-formatter.tsx
  app/profile/[id]/reports/helpers/value-measurement-formatter.spec.ts
Due: eslint --cache --fix

feat(profile/reports): create most listened genres section
  app/profile/[id]/reports/@mostListenedGenres/page.tsx
  app/profile/[id]/reports/components/charts/index.ts
  app/profile/[id]/reports/components/charts/most-listened-genres-chart.tsx
  app/profile/[id]/reports/components/helpers/chart-tooltip-content-formatter.tsx
  app/profile/[id]/reports/layout.tsx
Due: eslint --cache --fix

test: update snapshots
  .github/workflows/main.yml
  tests/snapshots/item-top-card.spec.tsx.snap
  tests/snapshots/items-list-element.spec.tsx.snap
  tests/snapshots/items-list.spec.tsx.snap
  tests/snapshots/items-section.spec.tsx.snap
Due: none

ci(workflows/main): trigger ci on push to `feat-reports-page`
  .github/workflows/main.yml
Due: none

test: update snapshots
  tests/snapshots/item-top-card.spec.tsx.snap
  tests/snapshots/items-list.spec.tsx.snap
  tests/snapshots/progress-with-value-label.spec.tsx.snap
Due: none

fix(profile/reports): display no data alert if no data on reports
  app/profile/[id]/reports/@listeningDays/page.tsx
  app/profile/[id]/reports/@listeningHours/page.tsx
  app/profile/[id]/reports/@mostListenedGenres/page.tsx
  app/profile/[id]/reports/@mostListenedItems/page.tsx
Due: eslint --cache --fix

feat(profile/reports): implement weeks pagination
  app/profile/[id]/reports/@listeningDays/page.tsx
  app/profile/[id]/reports/@listeningHours/page.tsx
  app/profile/[id]/reports/@mostListenedItems/page.tsx
  app/profile/[id]/reports/components/reports-pagination.tsx
  app/profile/[id]/reports/constants/search-params.ts
  app/profile/[id]/reports/helpers/get-cursors.ts
  app/profile/[id]/reports/layout.tsx
  app/profile/[id]/reports/types/props.ts
Due: eslint --cache --fix

feat(profile): allow view public profile if current user is unauthorized
  .github/workflows/main.yml
  app/api/hooks/use-history-infinite-query.tsx
  app/api/hooks/use-playback-state-query.tsx
  app/api/hooks/use-recently-played-query.tsx
  app/api/hooks/use-toggle-playback-state.tsx
  app/api/hooks/use-user-query.tsx
  app/config/env.js
  app/profile/[id]/@analysis/page.tsx
  app/profile/[id]/@history/page.tsx
  app/profile/[id]/@profile/default.tsx
  app/profile/[id]/@profile/page.tsx
  app/profile/[id]/@top/@albums/page.tsx
  app/profile/[id]/@top/@artists/page.tsx
  app/profile/[id]/@top/@genres/page.tsx
  app/profile/[id]/@top/@tracks/page.tsx
  app/profile/[id]/history/page.tsx
  app/profile/[id]/reports/@listeningDays/page.tsx
  app/profile/[id]/reports/@listeningHours/page.tsx
  app/profile/[id]/reports/@mostListenedGenres/page.tsx
  app/profile/[id]/reports/@mostListenedItems/page.tsx
  app/profile/[id]/top/albums/page.tsx
  app/profile/[id]/top/artists/page.tsx
  app/profile/[id]/top/genres/page.tsx
  app/profile/[id]/top/tracks/page.tsx
  app/profile/utils/helpers/index.ts
  app/profile/utils/helpers/is-public-user.ts
  next.config.js
Due: eslint --cache --fix

fix(profile/reports/components/charts/listening-days): improve positioning
  app/profile/[id]/reports/components/charts/listening-days-chart.tsx
Due: eslint --cache --fix

fix(profile): unify sections padding
  app/profile/sections/top-genres-section.tsx
  app/sections/default-section.tsx
  tests/snapshots/items-section.spec.tsx.snap
  tests/snapshots/top-genres-section.spec.tsx.snap
Due: eslint --cache --fix

fix(components/items/cards/item-top/skeleton): stars positioning
  app/components/items/cards/item-top-card.skeleton.tsx
Due: eslint --cache --fix

build(dev-deps): remove `lucide-react`
  bun.lockb
  package.json
Due: none

fix(components/sidebar/section-item): comparing `href` and `pathname`
  app/components/sidebar/sidebar-section-item.tsx
Due: eslint --cache --fix

test: update snapshots
  app/components/sidebar/sidebar-section-item.tsx
  tests/snapshots/sidebar-section-item.spec.tsx.snap
  tests/snapshots/sidebar.spec.tsx.snap
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: *.{js,ts,jsx,tsx}
  stylelint "**/*.{sass,scss,pcss,postcss,css}" --allow-empty-input --ignore-path .gitignore: any of: *.{css,scss,less}
